[Unit]
Description=HULK Service
Requires=lola.service hula.service
After=lola.service hula.service

[Service]
ExecStart=/usr/bin/launchHULK
Environment="RUST_BACKTRACE=1"
TimeoutStopSec=10
StandardOutput=journal
Type=notify
User=nao
Group=nao
LimitCORE=infinity
WorkingDirectory=/home/nao/hulk
AmbientCapabilities=CAP_SYS_NICE

[Install]
WantedBy=default.target

