[Unit]
Description=Aldebaran HAL
Requires=dev-chestboard.device
After=syslog.target
After=dev-chestboard.device

[Service]
Type=notify
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=30
Restart=on-failure
ExecStart=/opt/aldebaran/bin/hal
TimeoutStartSec=30
User=nao
Group=hal

[Install]
WantedBy=default.target
