[Unit]
Description=Aldebaran LoLA
After=hal.service
Requires=hal.service

[Service]
Type=simple
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=20
Restart=on-failure
ExecStart=/opt/aldebaran/bin/lola
TimeoutStartSec=30
User=nao
Group=hal

[Install]
WantedBy=default.target
