[Match]
Type=ether
Name=!veth*
KernelCommandLine=!nfsroot
KernelCommandLine=!ip

[Network]
DHCP=yes
Address=172.28.28.28/24

[DHCP]
UseMTU=yes
RouteMetric=10
ClientIdentifier=mac
