[Unit]
Description=Format data partition
DefaultDependencies=no
Before=data.mount

[Service]
Type=oneshot
ExecStartPre=/usr/sbin/sfdisk --part-uuid /dev/mmcblk1 4 66666666-1120-1120-1120-666666666666
ExecStart=/usr/sbin/mkfs -U 66666666-1120-1120-1120-666666666666 -L data -t ext3 -q /dev/mmcblk1p4
ExecStartPost=/bin/systemctl disable data-format

[Install]
RequiredBy=data.mount
